.DS_Store
src/vendor
src/system
# src/application
.vscode
release/*
release_old
!release/.gitkeep
!release/index.html
scripts/copyToProd.sh
scripts/env.json
preschema_output/*.json
vendor

src/
templates/
~
src/composer.lock
src/application/controllers/*.php
src/application/controllers/**/*.php
src/backup/*
!src/backup/index.html
!src/application/controllers/Guest/Home_controller.php
!src/application/controllers/Guest/Guest_controller.php
!src/application/controllers/Welcome.php
src/application/views/**/*.php
!src/application/views/errors/*
!src/application/views/Guest/MarketingPage.php
src/application/core/*.php
src/application/factories/*.php
src/application/helper/*.php
src/application/hooks/*.php
src/application/libraries/*.php
src/application/middlewares/*.php
src/application/models/*.php
src/application/services/*.php
src/application/third_party/*.php
src/application/view_models/*.php
src/application/config/routes.php
src/application/config/config.php
src/application/config/database.php
src/application/cache/*
src/db/migrations/*.php
src/db/seeds/*.php
src/phinx.php
templates/old/*
env.json
translations.json
.sass-cache
src/application/config/setting.php
!uploads/index.html
!templates/custom/index.html
assets/js/*
assets/css/*
preschema_output/*.json
graphql/app.js
graphql/server.js
graphql/lambda.js
graphql/claudia.json
graphql/package.json
graphql/README.md
graphql/package-lock.json