.DS_Store
src/vendor
src/system
.vscode
release/*
release_old
!release/.gitkeep
!release/index.html
scripts/copyToProd.sh
scripts/env.json
preschema_output/*.json
vendor



env.json
translations.json
.sass-cache
src/application/config/setting.php
!uploads/index.html
!templates/custom/index.html
assets/js/*
assets/css/*
preschema_output/*.json
graphql/app.js
graphql/server.js
graphql/lambda.js
graphql/claudia.json
graphql/package.json
graphql/README.md
graphql/package-lock.json
notes/
scripts/database.php
scripts/config.php
scripts/notes.txt
composer.lock