 {
    "config": {
        "mode": "development",
        "platform_name": "manaknight",
        "from_email": "ryan@manaknightdigital.com",
        "mail_domain": "",
        "mailgun_key": "",
        "twilio_phone_number":  "",
        "twilio_sid":  "",
        "twilio_token":  "",
        "stripe_publish_key": "pk_test_xI5ilWvoSHnR6uF2UV7WTwre00UcjJb9OM",
        "stripe_secret_key": "sk_test_cLHqRfAOuHVxD65avzGvsjZQ00b468oTj9",
        "copyright": "Copyright © 2019 Manaknightdigital Inc. All rights reserved.",
        "powered_by": "Powered By <a href=\"https://manaknightdigital.com\" target=\"__blank\">Manaknightdigital Inc.</a>",
        "email_smtp": {
            "protocol": "smtp",
            "smtp_host": "smtp.mailtrap.io",
            "smtp_port": 2525,
            "smtp_user": "7e8f296dd6a493",
            "smtp_pass": "ac4e30d39321bc",
            "crlf": "\r\n",
            "newline": "\r\n",
            "mailtype": "html",
            "charset": "utf-8"
        },
        "csrf_exclude_uris": ["v1/api.*+", "member/login", "member/forgot", "member/reset/.*", "member/register", "admin/login", "admin/forgot", "admin/reset/.*", "admin/register"],
        "encryption_key": "1n4uUX6d1Us3quFXKA7ZmqFIaQVC5MtgXlV9ho8F",
        "subclass_prefix": "Manaknight_",
        "migration_number": 9377770345344,
        "language": "english",
        "base_url": "http://localhost:9000",
        "site_title" : "Manaknight Saas",
        "company" : "Manaknight Inc.",
        "image_upload": "s3",
        "file_upload": "local",
        "upload_byte_size_limit": "1000000000",
        "dynamic_config": {
            "jwt_key" : "544e68498c28710b10af9dc9c7c9530951438f23",
            "jwt_expire_at" : 3600,
            "jwt_refresh_expire_at" : 7200,
            "google_client_id" : "466040660536-l5pq116jdp6cs3b58a7k4t52f5lpa5se.apps.googleusercontent.com",
            "google_client_secret" : "W_bYoRhly8pf0XJ1IUsk8wC_",
            "google_redirect_uri" : "http://localhost:9000/google",
            "application_name" : "",
            "facebook_client_id" : "",
            "facebook_client_secret" : "",
            "facebook_redirect_uri" : "",
            "facebook_oath_uri": "https://www.facebook.com/v3.0/dialog/oauth",
            "aws_version": "latest",
            "aws_region": "us-east-2",
            "aws_key": "AKIAJD27VH2ITMIWT4IQ",
            "aws_secret": "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",
            "aws_bucket": "com.konfor.images"
        }
    },
    "database": {
        "adapter": "mysql",
        "port": 3306,
        "dsn": "",
        "hostname": "localhost",
        "username": "root",
        "password": "",
        "database": "trading",
        "dbdriver": "mysqli",
        "dbprefix": "",
        "pconnect": false,
        "db_debug": false,
        "cache_on": false,
        "cachedir": "",
        "char_set": "utf8",
        "dbcollat": "utf8_general_ci",
        "swap_pre": "",
        "encrypt": false,
        "compress": false,
        "stricton": false,
        "failover": [],
        "save_queries": true
    }
}